# ignore envs and models
training/.venv/
training/models/
training/checkpoints/
training/heritage/output_doc.spacy

# ignore training data
crawlers/aclu_spider/aclu.json
training/aclu/aclu_data_in/
crawlers/heritage_spider/heritage.json
training/heritage/cleaning/heritage_data_in/

# ignore evals
evals/data/

# state bills web scraping
bills/state_bills/chrome/chromedriver/
bills/state_bills/bills_pdf/
